form{
margin: 3% 15%;
}

div,textarea, button {
    margin:1% 0%;
}

fieldset {
    padding:2%;
    border:2px #014e79 solid;
    border-radius: 5px;
}

label{
    font-size: 1.1em;
    margin-right: 1em;
}

#div_nm, #div_fnm, {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

input,select{
    flex-grow:1;
    font-size:1em;
    border:1px #014e79 solide;
    border-radius:3px;
    color:#014e79;
    padding:0.2%
}

#choiceStatut div {
    font-size:0.8em;
    margin-bottom:2%;

}

input[type="radio"] {
    margin-right: 1em;
}
#mesage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#message textarea{
    width: 95%;
    font-size: 1em;
    flex-grow: 0.9em;
    border-radius: 5px;
    border:1px #014e79
}

button{
    border-radius: 10px;
    background-color: cornflowerblue;
    color:white;
    padding:0.7em 1em;
    font-size: 1em;
    border:none;
}

button:hover {
    background-color: #014e79;
    transition-duration: 0.5s;
}

/*claasse d'annimation pour javascript*/

.masque{
    opacity: 0%;
    margin-bottom: -4%;
}

.app {
    opacity: 100%;
    transition-duration:0.5s;
    margin-bottom:0%;
}

.disp{
    opacity: 100%;
    transition-duration: 0.5s;
    margin-bottom:-4%;
}